@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@500&family=Prompt:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&family=Red+Hat+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@500&display=swap');

body {
  /*font-family: 'Prompt', sans-serif;
  font-family: 'IBM Plex Sans Thai', sans-serif;
  
  font-family: 'Prompt', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Sarabun', sans-serif;*/font-family: 'Red Hat Mono', monospace;
}

.background-animate {
  background-size: 400%;

  -webkit-animation: AnimationName 50s ease infinite;
  -moz-animation: AnimationName 50s ease infinite;
  animation: AnimationName 50s ease infinite;
}

@keyframes AnimationName {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  text-transform: uppercase;
  letter-spacing: 1.3px;
  border-radius: 50 px;
  box-shadow: 0px 0px 12px  #2ee6b4 ;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 7px;
  }

button::before {
content: '';
  border-radius: 50 px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

button:hover::before, button:focus::before {
  opacity: 1;
}

button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 50 px;
  border: 6px solid  #2ee6b4 ;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}